body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 34, 34);
}

h1 {
    color: greenyellow;
}

div#calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 350px;
    background-color: rgb(52, 52, 196);
    border: solid 1px rgb(48, 48, 90);
}

/* DISPLAY */

div#display-container {
    height: 45px;
    width: 300px;
    background-color: grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

p.text-display {
    font-family: OCR A Std, monospace;
    text-align: right;
    margin: 0px;
}

div#oldOperandDisplay {
    height: 15px;
    margin-bottom: 2.5px;
    font-size: 14px;
}

div#currentOperandDisplay {
    height: 25px;
    font-size: 24px;
}

/* BUTTONS */

div#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div#left-buttons {
    width: 75%;
    margin-left: 15px;
}

div#right-buttons {
    display: flex;
    flex-direction: column;
    width: 25%;
}

button {
    width: 70px;
    height: 40px;
    text-align: start;
    margin: 2.5px;
}

button.num-button {
    background-color: rgb(255, 249, 235);
    color: rgb(5, 5, 58);
} 

button.operator-button {
    background-color: red;
    color: whitesmoke;
}

p#fakeCalculatorBrand {
    height: auto;
    width: 325px;
    margin-top: 100px;
    padding: 0px;
    text-align: end;
    color:white;
    font-family: Andale Mono, monospace;
}